<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AirportDbContext"
         connectionString="Data Source=HP-LAPTOP\SQLEXPRESS; Initial Catalog=Airport; Integrated Security=SSPI"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>